.git
.gitignore
.gradle
.idea
build
gradle

.dockerignore
build.gradle
settings.gradle

README.md

Dockerfile*

gradlew
gradlew.bat

ofbiz-framework/.git
ofbiz-framework/.gitignore
ofbiz-framework/.hgignore
ofbiz-framework/.gradle
ofbiz-framework/build
ofbiz-framework/runtime
!ofbiz-framework/runtime/indexes/index.properties
